%div.row
  %div.col-md-3.sidebar
    %div.nav.nav-sidebar
      = render "new"
      = render "index_owned"
  %div.col-md-9.main
    %div.list-group
      - @all_tasks_in_progress.each do |task|
        %h4.list-group-item-heading
          = task.content
