// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#infscr-loading {
  text-align:center;
  margin:0 auto;
}

.break-word {
  word-wrap:break-word
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.bold{
  font-weight: bold;
}

.divider {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 rgba(255,255,255,1);
}
